body {
  background-color: #f8efff;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.creator {
  position: relative;
  margin: auto;
  width: 770px;
}

.form {
  margin: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

div {
  display: block;
}

input:focus {
  outline: none;
}

.field {
  border: none;
}

.field:hover{
  filter: brightness(90%);
}

.title.field {
  width: 100%;
  box-sizing: border-box;
  padding: 19px;
  font-size: 16pt;
}

div.question {
  margin-bottom: 15px;
}

.underline {
    background-color: rgba(0,0,0,.12);
    height: 1px;
}

.question {
  font-size: 12pt;
}

.question.field {
  width: 100%;
  box-sizing: border-box;
  padding: 19px;
}

.answers {
  margin-top: 8px;
}

.disabled-checkbox {
  opacity: 0.5;
  flex: 1;
}

.disabled-checkbox:hover {
  opacity: 0.5;
}

.answer {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  font-size: 11pt;
}

.answer.field {
  padding: 2px;
  flex: 1;
  margin-right: 5px;
}

.answer-text {
  margin-left: 5px;
  flex: 1;
  font-size: 11pt;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-block;
  width: 18px; 
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.12);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="checkbox"]:checked + label {
  background-color: #cccccc;
}

.button-2 {
  background-color: rgba(224, 224, 224, 1);
  border-radius: 30px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  margin: 0;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
}

.button-2:hover {
  filter: brightness(90%);
}

.plus-question {
  height: 30px;
  text-align: center;
}

.button-plus-question {
  height: 100%;
  border: none;
  border-radius: 70%;
  background-color: rgba(0, 0, 0, 0);
}

.plus-img {
  height: 100%;
  opacity: 0.5;
}

.close-answer {
  font-size: 25px;
  color: #333333;
}

.close-question {
  color: #333333;
}

.close:hover {
  opacity: 0.5;
}

.closing-button {
  border: none;
  background-color: transparent;
}

.remove-question {
  margin: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 48px;
  text-align: right;
}

.remove-question-button {
  width: 48px;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color:  rgba(224, 224, 224, 1);
}

.trash {
  height: 50%;
  opacity: 0.7;
  text-align: center;
  align-content: center;
}

.remove-question-button:hover {
  filter: brightness(90%);
}