body {
  margin: 0;

  background-color: #f8efff;

  line-height: 1.5;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: 400;
  letter-spacing: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.creator {
  position: relative;

  margin: auto;
  margin-bottom: 100px;
  width: 770px;
}

.form {
  width: 100%;
  padding: 20px 24px;

  background-color: #ffffff;
}

.round-shadow-box-form {
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.access {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: auto;
  width: 550px;
  padding: 0;

  background-color: #ffffff;
}

.header {
  background-color: rgb(103, 58, 183);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  text-align: center;
}

.header-text {
  margin: 0;
  padding: 0 25px;

  font-size: 16pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
}

input:focus {
  outline: none;
}

input.quiz-slag {
  border-radius: 10px;
  width: 100%;
  height: 34px;

  background-color: #eaeaea;

  font-size: 13pt;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+label {
  background-color: #cccccc;
}

.field {
  border: none;
}

.field:hover {
  filter: brightness(90%);
}

.title.field {
  width: 100%;
  box-sizing: border-box;
  padding: 19px;

  font-size: 16pt;
}

.access-form {
  padding: 24px;
  padding-bottom: 0;
}

.underline {
  height: 1px;

  background-color: rgba(0, 0, 0, 0.12);
}

.question {
  margin-bottom: 15px;

  font-size: 12pt;
}

.question.field {
  width: 100%;
  box-sizing: border-box;
  padding: 19px;
}

.answers {
  margin-top: 8px;
}

.disabled-checkbox {
  opacity: 0.5;
  flex: 1;
}

.disabled-checkbox:hover {
  opacity: 0.5;
}

.answer {
  display: flex;

  margin-bottom: 8px;
  align-items: center;

  font-size: 11pt;
}

.answer.field {
  flex: 1;

  padding: 2px;
  margin-right: 5px;
}

.answer-text {
  flex: 1;

  margin-left: 5px;

  font-size: 11pt;
}

label {
  display: inline-block;

  margin-left: 10px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.12);

  background-color: #fff;
  cursor: pointer;
}

.button-2 {
  display: inline-block;
  
  margin: 0;
  width: 100%;
  padding: 10px 10px;
  border-radius: 30px;
  border-width: 0;

  background-color: rgba(224, 224, 224, 1);
  cursor: pointer;
  color: #333333;

  
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
}

.button-2:hover {
  filter: brightness(90%);
}

.plus-question {
  height: 30px;

  text-align: center;
}

.button-plus-question {
  height: 100%;
  border: none;
  border-radius: 70%;

  background-color: rgba(0, 0, 0, 0);
}

.plus-img {
  opacity: 0.5;

  height: 100%;
}

.close-answer {
  font-size: 25px;
  color: #333333;
}

.close-question {
  color: #333333;
}

.close:hover {
  opacity: 0.5;
}

.closing-button {
  border: none;

  background-color: transparent;
}

.remove-question {
  margin: 20px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 48px;

  text-align: right;
}

.remove-question-button {
  width: 48px;
  height: 100%;
  border: none;
  border-radius: 50%;

  background-color: rgba(224, 224, 224, 1);
}

.trash {
  opacity: 0.7;
  height: 50%;

  text-align: center;
  align-content: center;
}

.remove-question-button:hover {
  filter: brightness(90%);
}

.clickable {
  cursor: pointer;

  text-align: center;
  color: #fff;
}

.access-button {
  width: 20%;
  padding: 10px;

  background-color: rgb(103, 58, 183);
}

.access-button:hover {
  background-color: rgb(143, 106, 210);
}

.create-quiz-button {
  width: 50%;
  padding: 10px;

  background-color: rgb(166, 147, 199);
}

.create-quiz-button:hover {
  background-color: rgb(206, 195, 226);
}

.send-button,
.send-button-creation {
  margin-right: 20px;
  padding: 20px;

  background-color: rgb(103, 58, 183);

  color: #ffffff;
}

.send-button-creation:hover {
  background-color: rgb(143, 106, 210);
}

.cancel-button-navigation {
  margin-left: 20px;
  padding: 20px;

  background-color: rgb(255, 255, 255);
  
  color: #000000;
  text-align: center;
}

.cancel-button-navigation:hover {
  background-color: rgb(216, 216, 216);
}

.access-text,
.send-text,
.cancel-text {
  display: inline-block;
  width: 100%;
  margin: 0;

  text-align: center;
}

.creation-buttons {
  display: flex;
}

.creation-buttons div:last-child.cancel-button-navigation {
  margin-left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  
  table-layout: fixed;
}

th,
td {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  padding: 8px;
}

th {
  background-color: rgb(228, 212, 255);
}

td {
  background-color: rgb(237, 237, 237);
}